* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Conv_bebas-neue-bold';
}


@font-face {
  font-family: 'Conv_bebas-neue-bold';
  src: url("../fonts/bebas-neue-bold.eot");
  src: local("☺"), url("../fonts/bebas-neue-bold.woff") format("woff"), url("../fonts/bebas-neue-bold.ttf") format("truetype"), url("../fonts/bebas-neue-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.main {

	background-color: #080c0c;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#question {
	font-family: 'Conv_bebas-neue-bold';
    margin: 5% auto 2%;
    font-size:65px;
    max-width: 1000px;
    width: 95%;

}
.overTitle {
	opacity: 0;
}

.main_container {
	max-width: 1000px;
	position: relative;
	z-index: 5000;

}

.main_container span, #next {
	color: #fff;
	position: relative;
	z-index: 2000;
}

#input {
	    position: relative;
    z-index: 2000;
    border: none;
    border-radius: 20px;
    width: 315px;
    padding: 14px 10px;
    outline: none;
    font-family: 'Conv_bebas-neue-bold';
    font-size: 22px;
    background-image: url("../images/paper.jpg");
}

.wrapper {
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
}
.tab_wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#input.error {
  color: red;
}

#input.shake {
  animation: shake .5s linear alternate;
}

@keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.qunatity {
	color: #fff;
	position: fixed;
	top: 50px;
	left: 50px;
	font-size: 40px;

}

#next {
  cursor: pointer;
  margin-top: 20px;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;

}

#next span{
	font-family: 'Conv_bebas-neue-bold';
}
.main-content {
  overflow:hidden;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(87, 61, 38, 0.7), rgba(87, 61, 38, 0.7)), url(../images/fedka.jpg);
    background-position: left;
}

.vignette{
  position:absolute;
  width:100%; height:100%;
  box-shadow:inset 0px 0px 150px 20px black;
  mix-blend-mode: multiply;
  -webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
  -moz-animation:    vignette-anim 3s infinite; /* Fx 5+ */
  -o-animation:      vignette-anim 3s infinite; /* Opera 12+ */
  animation:         vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
}

.noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: .15;
}

.line{
  position:absolute;
  height:100%; width:1px;
  opacity:0.1;
  background-color:#000;
}

.titleCont{position:relative;}

.main-title {
    padding: .3em 1em .25em;    
    font-weight: 400;
    font-size: 40px;
    color: white;
    font-family: 'Bellefair', serif;
    position:relative;
    line-height:1.3;
    white-spacing:
}

.overTitle{
    position:absolute;
    top:0;
    left:0;
}

.dot{
  width:3px;
  height:2px;
  background-color:white;
  position:absolute;
  opacity:0.3;
}


@-webkit-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-moz-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-o-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}